<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="cn.hruit.mybatis.datasource.druid.DruidDataSourceFactory" alias="DRUID"/>
        <package name="cn.hruit.mybatis.test.po"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="url" value="jdbc:mysql://82.157.64.86:3306/mybatis?useUnicode=true"/>
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="username" value="root"/>
                <property name="password" value="3J7aU#PZ#qL&amp;HR"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/User_Mapper.xml"/>
        <mapper resource="mapper/Activity_Mapper.xml"/>
        <mapper class="cn.hruit.mybatis.test.dao.IAnnotationUserMapper"/>
      <!--  <package name="cn.hruit.mybatis.test.dao"/>-->
    </mappers>
</configuration>
