<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hruit.mybatis.test.mapper.ClassMapper">
    <!--    <cache />-->
    <cache-ref namespace="mapper.StudentMapper"/>
    <update id="updateClassName" parameterType="cn.hruit.mybatis.test.entity.Class">
        UPDATE class
        SET name = #{name}
        WHERE id = #{id}
    </update>
</mapper>
